@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #2068D3;
}

/* Header */

header {
    display: flex;
    flex-flow: row wrap;
    height: 85px;
    background: white;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo {
    flex: 20%;
    margin-left: 19%;
    /* border: solid 1px red; */
    text-align: left;
}

.logo h1 {
    font-family: 'Lobster', cursive;
    color: #2068D3;
    font-size: 34px;
}

.login {
    flex: 50%;
    /* border: solid 1px green; */ 
    text-align: right;
    padding: 20px;
}

.login a{
    margin-right: 34%;
    margin-left: 73%;
    color: white;
    background-color: #2068D3;
    text-decoration: none;
    padding: 16px 20px;
}

.login a:hover{
    color: #2068D3;
    background-color: white;
    border: solid 2px #2068D3;
}

.rede-social {
    flex: 10%;
    /* border: solid 1px black; */
    text-align: center;
}

.rede-social a{
    margin-right: 20%;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 100px);
}

.container-main {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-self: center;
    margin-top: 75px;
    padding: 0 175px;
}

.fileira1 {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.fileira2 {
    display: flex;
    margin: 20px 0;
}

.fileira3 {
    display: flex;
    margin: 20px 0;
}

.galeria {
    margin: 25px 20px;
}

div.galeria:hover {
    border: solid 2px #2068D3;
}

div.galeria a{
    justify-content: center;
}

div.desc {
    text-align: center;
}

div.desc a{
    text-decoration: none;
    color: #2068D3;
}

/* Section */

section{
    display: flex;
    flex-flow: row wrap;
    height: 80px;
    background: darkblue;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section a{
    text-decoration: none;
    color: white;
}

/* Footer */

footer {
    display: flex;
    flex-flow: row wrap;
    height: 50px;
    background: whitesmoke;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Página de Compra */

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 100px);
}

.container-main-products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 60%;
    align-self: center;
    padding: 50px;
}

.left-side{
    display: flex;
}

.left-side img {
    display: flex;
    width: 400px;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.right-side p{
    color: #2068D3;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 25px;
}

.right-side a{
    text-decoration: none;
    border: solid 1px #2068D3;
    background-color: #2068D3;
    color: white;
    padding: 10px;
}

.right-side a:hover {
    color: #2068D3;
    background-color: white;
    border: solid 1px #2068D3;
}

/* Formulário */

.container-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    justify-content: center;
}

h1 {
    color: white;
}
  
form {
    background: #38B2AC;
    border-radius: 5px;
    box-shadow: 0 1px 2px #ccc;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
    padding: 20px;
}
  
input, textarea, button {
    background-color: #f7f7f7;
    border: none;
    border-radius: 5px;
    color: #777;
    font-size: 18px;
    outline: none;
    padding: 15px;
    width: 100%;
}
  
button {
    color: #777;
    cursor: pointer;
    font-weight: bold;
}