@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #2068D3;
}

/* Header */

header {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
}

#logo {
    flex: 20%;
    margin-left: 19%;
    /* border: solid 1px red; */
    text-align: left;
}

#logo h1 {
    font-family: 'Lobster', cursive;
    color: #2068D3;
    font-size: 34px;
}

#login {
    flex: 50%;
    /* border: solid 1px green; */ 
    text-align: right;
    padding: 20px;
}

#login a{
    margin-right: 34%;
    margin-left: 73%;
    color: white;
    background-color: #2068D3;
    text-decoration: none;
    padding: 16px 20px;
}

#login a:hover{
    color: #2068D3;
    background-color: white;
    border: solid 2px #2068D3;
}

#rede-social {
    flex: 10%;
    /* border: solid 1px black; */
    text-align: center;
}

#rede-social a{
    margin-right: 20%;
}

/* Main */

main {
    background: white;
    padding: 200px;
    height: 920px;
    margin-left: 12%;
    margin-right: 12%;
}

#fileira1 {
    display: flex;
    flex-flow: row;
    height: 200px;
}

#fileira2 {
    display: flex;
    flex-flow: row;
    height: 200px;
}

#fileira3 {
    display: flex;
    flex-flow: row;
    height: 200px;
}

div.galeria:hover {
    border: solid 2px #2068D3;
}

div.galeria a{
    justify-content: center;
}

div.desc {
    text-align: center;
}

div.desc a{
    text-decoration: none;
    color: #2068D3;
}

section{
    display: flex;
    flex-flow: row wrap;
    height: 80px;
    background: darkblue;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section a{
    text-decoration: none;
    color: white;
}

footer {
    display: flex;
    flex-flow: row wrap;
    height: 50px;
    background: whitesmoke;
    justify-content: center;
    align-items: center;
    width: 100%;
}